body {
    font-size: 15px;
    line-height: 22px;
    background-color: #fff;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif;
}
.lead {
    font-size: 36px;
    line-height: 36px;
    color: #000;
}
h3 {
    font-size: 18px;
    line-height: 30px;
}