body {
    font-size: 15px;
    line-height: 22px;
    background-color: #fff;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif;
}

/* layout */

.container {
    width: 1160px;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


/* common */

button {
/*    margin-left: 140px;*/
}

.lead {
    font-size: 40px;
    line-height: 40px;
    color: #000;
}

h1 {
    font-size: 40px;
    padding-bottom: 80px;
    margin-left: 400px;
    margin-bottom: 0px;
 
}

h3 {
    font-size: 18px;
    line-height: 30px;
}


/* header */

.main-header {
    background-color: #eeeeee;
}

/* nav */

.main-navigation {
    display: flex;
}
.nav-logo {
/*    margin-left: 140px;*/
    margin-top: 49px;
}
.nav-menu {
/*    margin-left: 200px;*/
    margin-top: 82px;  
}
.nav-menu li {
    display: inline;
    margin-right: 45px;
}
.user-block {
/*    margin-left: 245px;*/
    margin-top: 82px;
}


/* Slider */

.slides {
    display: flex;
/*    margin-left: 140px;*/
    margin-top: 60px;
 }

.slide-title {
    font-size: 45px;
    line-height: 70px;
}
.slider {
    margin-top: 210px;
    margin-right: 500px;
    padding-bottom: 40px;
}

/* Categories */

.categories {
    display: flex;
    flex-wrap: wrap;
}
.production-web {
/*    margin-left: 140px;*/
/*    margin-right: 70px;*/
}

.production-pres {
/*    margin-left: 70px;*/
}

/*Catalog*/



.catalog {
    
} 
.catalog-column-left {
/*    background-color: aquamarine;*/
}
.layout ul, .features ul {
    list-style-type: none;
    margin: 0;
    padding-left: 140px;
}

.filter-title, .range-filter {
/*    padding-left: 140px;*/
}
.content-column-right {
/*    padding-right: 200px;*/
/*    background-color: antiquewhite;*/
}
.sort-block, .pagenav {
    padding-left: 500px;
}
.works {
    
/*    background-color: dimgray;*/
    padding-left: 50px;
}
.works a {
    margin-right: 40px;
}

/* Promo */

.column {

    
}
.column-left {
   width: 600px;
   margin-top: 80px;
/*    padding-right: 100px;*/
/*    padding-left: 140px;*/
/*    background-color: dimgray;*/
}
.column-work {
    font-size: 20px;
    line-height: 60px;
    font-weight: 700;
}

.column-logo {
    margin-top: 80px;
/*    margin-left: 130px;*/
/*    background-color: bisque;*/
}
.column-right {
/*    background-color: bisque;*/
}


/* friends */

.friends-logo {
   opacity: 0.2;
}


/* map */

.map {
/*    background-color:burlywood;*/
}


/* footer */


.main-footer {
 
/*    background-color:cadetblue;*/

}

.footer-content {
    margin-right: 354px;
    padding-top: 50px;
}

/* social */

.social.fb {*/

    background-position: -32px -23px;
}

.social.insta {

/*    background-position: -27px -5px;*/
}

.social.vk {

/*    background-position: -27px -36px;*/
}

.social {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 4px;
  margin-top: 60px; 
  background: #000000 url("../img/sprite.png") no-repeat center;
}

